<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <h4>Restablecer contraseña</h4>
      <label>Contraseña actual</label>
      <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" required>
      <p class="alert alert-danger" *ngIf="erroresForm.oldPassword">
        {{ erroresForm.oldPassword }}
      </p>
      <label>Nueva contraseña</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
      <p class="alert alert-danger" *ngIf="erroresForm.newPassword">
        {{ erroresForm.newPassword }}
      </p>
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Cambiar contraseña</button>
      <a [routerLink]="['/modificarContacto']" class="btn btn-link">Volver</a>
    </form>
    <hr>
  </div>
</div>