<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <h4>Restablecer contraseña</h4>
      <label>Contraseña</label>
      <input type="password" id="password" class="form-control" formControlName="password" required>
      <p class="alert alert-danger" *ngIf="erroresForm.password">
        {{ erroresForm.password }}
      </p>
      <label>Introduzca de nuevo la contraseña</label>
      <input type="password" id="passwordCheck" class="form-control" formControlName="passwordCheck" required>
      <p class="alert alert-danger" *ngIf="erroresForm.passwordCheck">
        {{ erroresForm.passwordCheck }}
      </p>
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="!newPasswordForm.valid || !validate">Restablecer contraseña</button>
    </form>
    <hr>
    <p class="alert alert-danger" *ngIf="!validate">Las contraseñas deben ser iguales</p>
  </div>
</div>